
body {
    margin: auto;
    background: #bea8a8;
    max-width:  1680px;;
  }
  a{
    text-decoration: none;
    color: black;
  }

.top_header {
    background: #d2a48e;
    position: static;
  }

  .top_menu {
    margin: auto;
    display: flex;
    justify-content: space-around;
    max-width: 1820px;
    padding: 0 30px;
  }

  .top_menu > div {
    display: flex;
    align-items: center;
  }

  .top_menu nav {
    display: flex;
    margin-left: 31px;

  }

  .top_menu nav a {
    padding: 14px;
    margin-left: 40px;
    }
  
  .top_menu nav a:hover {
    padding: 14px;
    margin-left: 40px;
    background: #b68877;
  }

  .home_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #919b95;
    background-image: url('photos/backHome11.jpg');

  }
  h1{
    font-size: 50px;
    text-align: center;

  }
  h1 b{
    font-size: 70px;
    color: #b6beb9;

  }
 img{
    width: auto;
    height: 592px;
  }